/*header*/

body {
    font-family: sans-serif;
    margin-right: auto;
}
#navbar{
    position:sticky;
    top: 0;
    z-index: 10;
}
.navbar {
    background: black;
    padding: 0 !important;
    font-size:large;
}
.nav-link {
    font-size: 15px;
    color: rgb(216, 216, 216);
    padding: 10px;
    font-family: sans-serif;
    margin-right: 50px;
}

.nav-link a:hover {
    color: rgb(218, 218, 218);
}

.nav-link a:active {
    color: rgb(131, 211, 211);
}

.color {
    font-style: italic;
    color: #bb920a;
}
.navbar-brand {
    color: rgb(155, 155, 155);
    font-size: 40px;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
}

/*header*/

/*initial hero*/
.container {
    position:relative;
    max-width: 30%; 
    margin-top: 20px;
  }

  .container .content {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    width: 100%; 
    padding: 10px; 
  }

#hero {
    width: 100%;
    height: 50vh;
    background: url("../webpage-template/1.jpg") top left;
    position:relative;
  }
  
  #hero:before {
    content: "";
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .container {
    position: relative;
  }
  
  #hero h1 {
    margin: 0;
    font-size: 100px;
    font-weight: 700px;
    line-height: 100px;
    color: #222222;
    font-family: "Poppins", sans-serif;
  }
  
  #hero h1 span {
    color: #bb920a;
  }
  
  #hero h2 {
    color: #555555;
    margin: 5px 0 30px 0;
    font-size: 24px;
    font-weight: 400;
  }
   
    #hero h1 {
      font-size: 100px;
      line-height: 100px;
      text-align: justify;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 10px;
    }
  /*hero*/

.accordion {
  padding: auto;
  margin-left:10%;
  margin-right: 10%;
  margin-bottom: 3%;
}
.accordion-button {
  background-color: #caa82d;
  color:#252525;
  font-size: medium;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*card*/
.row {
  margin:0 5% 0 5% ;

  
}
#collapseOne img {
  width: auto;
  height: 50%;
}
.card{
  width: 95%;
  height: auto;
  margin-bottom: 10%;
}

#collapseOne a {
  color: #222222;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}

/*form*/

#collapseTwo button {
  margin: 1% 0 0 0;
}
#collapseTwo h4 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  text-align: justify;
  text-decoration: dashed;

}

#collapseTwo label{
  padding:  10 10 10 10 ;
  text-align: justify;
}